@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-BoldItalic.woff2') format('woff2'),
        url('RecklessNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue Book';
    src: url('RecklessNeue-BookItalic.woff2') format('woff2'),
        url('RecklessNeue-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-RegularItalic.woff2') format('woff2'),
        url('RecklessNeue-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-MediumItalic.woff2') format('woff2'),
        url('RecklessNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-HeavyItalic.woff2') format('woff2'),
        url('RecklessNeue-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-LightItalic.woff2') format('woff2'),
        url('RecklessNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-Heavy.woff2') format('woff2'),
        url('RecklessNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-Light.woff2') format('woff2'),
        url('RecklessNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-Regular.woff2') format('woff2'),
        url('RecklessNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue Book';
    src: url('RecklessNeue-Book.woff2') format('woff2'),
        url('RecklessNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-Medium.woff2') format('woff2'),
        url('RecklessNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-Bold.woff2') format('woff2'),
        url('RecklessNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-ThinItalic.woff2') format('woff2'),
        url('RecklessNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-SemiBoldItalic.woff2') format('woff2'),
        url('RecklessNeue-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-Thin.woff2') format('woff2'),
        url('RecklessNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Neue';
    src: url('RecklessNeue-SemiBold.woff2') format('woff2'),
        url('RecklessNeue-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

